@charset "UTF-8";
/* line 7, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
#input-search {
  font-family: "Tahoma";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  letter-spacing: 0.15px;
  color: #666666;
}

/* line 19, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
.flex {
  display: flex;
}

/* line 23, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
.nav-header {
  background-color: #007aac !important;
  border-color: #007aac !important;
  border: none !important;
  border-radius: 0px;
  display: flex;
  height: 148px;
}

/* line 32, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
.first-header-row {
  height: 79px;
}

/* line 36, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
.second-header-row {
  height: 69px;
}

/* line 40, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
.search-container {
  width: 570px;
  height: 40px;
  width: 570px;
  height: 40px;
  background: #f1f1f1;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
}

/* line 50, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
#input-search {
  flex: 1;
  border: none;
}

/* line 55, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
input:focus {
  border: none;
  outline: none;
  /* Remove a borda pontilhada padrão do navegador */
}

/* line 60, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
.form-search,
#input-search {
  width: 100%;
  border: none;
}

/* line 66, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
.button-search {
  border: none;
  background: white;
  padding-left: 15px;
  padding-right: 10px;
}

/* line 73, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
#logo-search {
  align-items: center;
  justify-content: space-between;
}

/* line 78, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
.img-profile {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 8px;
}

/* line 85, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
#user-name {
  font-family: "Tahoma";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  /* Background */
  color: #ffffff;
  margin: 12px;
}

/* line 104, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
.my-profile {
  align-items: center;
  justify-content: center;
}

/* line 109, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 116, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
.second-header-row {
  justify-content: flex-start;
  align-items: center;
}

/* line 121, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
.menu-options ul {
  font-family: Tahoma;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.15000000596046448px;
  text-align: center;
  color: #ffffff;
}

/* line 132, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
.menu-options li {
  margin-right: 32px;
}

/* line 136, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
.menu-button {
  border: none;
  background: none;
  padding: 0px;
}

/* line 142, ../../../OneDrive - Stefanini/Refinos Técnicos/New Home/sass/style.scss */
.vector::after {
  content: "";
  /* define o conteúdo do elemento pseudo */
  position: absolute;
  background-image: url("../img/Vector.svg");
  /* define a cor de fundo do elemento */
  background-repeat: no-repeat;
  /* não repete a imagem de fundo */
  width: 100px;
  height: 20px;
  color: #ffffff;
  margin-left: 5px;
  margin-top: 7px;
}

/*# sourceMappingURL=style.css.map */